<!DOCTYPE html>
<html>
  <head>
    <title> Habtec TDL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "lists/navbar" %>
    <%# Div específica do backOffice%>
    <div class="d-flex">
      <%= yield %>
    </div>
  </body>
</html>
